<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="kr.simula.formula.ide.core.FormulaNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="kr.simula.formula.ide.core.FormulaNature"/>
      </runtime>
   </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="org.eclipse.core.runtime.text"
          default-charset="UTF-8"
          describer="kr.simula.formula.ide.core.FormulaContentDescriber"
          file-extensions="fo"
          id="kr.simula.formula.ide.formula-content-type"
          name="Formula Source File"
          priority="high">
    </content-type>
 </extension>
 
 <extension point="org.eclipse.dltk.core.language">
      <language
            class="kr.simula.formula.ide.core.FormulaLanguageToolkit"
            nature="kr.simula.formula.ide.core.FormulaNature"
            priority="0">
      </language>
   </extension>
   <extension point="org.eclipse.dltk.ui.language">
      <language
            class="kr.simula.formula.ide.ui.FormulaUILanguageToolkit"
            nature="kr.simula.formula.ide.core.FormulaNature"
            priority="0">
      </language>
   </extension>
   <!--
   <extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="kr.simula.formula.ide.interpreter.FormulaInstallType"
            id="kr.simula.formula.ide.core.FormulaNature">
      </interpreterInstallType>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page class="kr.simula.formula.ide.interpreter.ui.FormulaInterpreterPreferencePage"
            id="kr.simula.formula.ide.preferences.interpreters"
            name="Formula Interpreters"/>
   </extension>
   -->
   <extension point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="kr.simula.formula.ide.core.FormulaNature">
         <parser
               class="kr.simula.formula.ide.core.parser.FormulaSourceParserFactory"
               description="Formula Source Parser"
               id="kr.simula.formula.ide.sourceParser"
               name="Formula Source Parser"
               priority="0" />
      </parserContribution>
	</extension>
	 
	<extension point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="kr.simula.formula.ide.core.parser.FormulaSourceElementParser"
            nature="kr.simula.formula.ide.core.FormulaNature"
            priority="1">
      </parser>
	</extension>
	
   <extension
		point="org.eclipse.dltk.core.buildParticipant">
		<buildParticipant
			class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
			id="kr.simula.formula.ide.sourceParser"
			name="Formula Source Parser"
			nature="kr.simula.formula.ide.core.FormulaNature">
		</buildParticipant>
   </extension>
   
	<extension point="org.eclipse.ui.editors">
      <editor class="kr.simula.formula.ide.ui.editor.FormulaEditor"
            default="false"
            id="kr.simula.formula.ide.ui.editor"
            name="Formula Editor">
         <contentTypeBinding contentTypeId="kr.simula.formula.ide.formula-content-type"/>
      </editor>
   </extension>
	<extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="kr.simula.formula.ide.ui.FormulaPreferenceInitializer">
      </initializer>
   </extension>
   <!--
 <extension
       point="org.eclipse.dltk.core.builder">
    <builder
          class="kr.simula.formula.ide.ScriptBuilder1"
          nature="kr.simula.formula.ide.core.FormulaNature">
    </builder>
 </extension>
  -->

   <extension point="org.eclipse.dltk.core.search">
	    <matchLocator
	          class="kr.simula.formula.ide.search.FormulaMatchLocator"
	          nature="kr.simula.formula.ide.core.FormulaNature">
	    </matchLocator>
     <searchFactory
           class="kr.simula.formula.ide.search.FormulaSearchFactory"
           nature="kr.simula.formula.ide.core.FormulaNature"
           priority="0">
     </searchFactory>
	</extension>
	<extension point="org.eclipse.dltk.core.selectionEngine">
	   <selectionEngine
	         class="kr.simula.formula.ide.selection.FormulaSelectionEngine"
	         nature="kr.simula.formula.ide.core.FormulaNature"
	         priority="0">
	   </selectionEngine>
	</extension>
	<!--
	<extension point="org.eclipse.ui.actionSets">
	   <actionSet
	         id="kr.simula.formula.actionSet"
	         label="Formula action set">
	          <action
	                class="kr.simula.formula.actions.FormulaOpenTypeAction"
	                id="openType"
	                label="Formula Open type"
	                menubarPath="navigate/open.ext2"
	                toolbarPath="org.eclipse.search.searchActionSet/Search"
	                tooltip="Formula open type">
	         </action>
	   </actionSet>
	</extension>
	-->
	<extension point="org.eclipse.dltk.ui.scriptDocumentationProviders">
	     <provider
	           class="kr.simula.formula.selection.FormulaCommentDocumentationProvider"
	           id="kr.simula.formula.selection.FormulaCommentDocumentationProvider"
	           nature="kr.simula.formula.ide.core.FormulaNature"/>
	</extension>
	
	<extension point="org.eclipse.dltk.core.completionEngine">
	   <completionEngine
	         class="kr.simula.formula.ide.completion.FormulaCompletionEngine"
	         nature="kr.simula.formula.ide.core.FormulaNature"
	         priority="0">
	   </completionEngine>
	</extension>
	<extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
			id="FormulaTypeCompletionProposalComputer">
			<scriptCompletionProposalComputer
				class="kr.simula.formula.ide.completion.FormulaCompletionProposalComputer"
				categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
				toolkitId="kr.simula.formula.ide.core.FormulaNature">
				<partition type="__dftl_partition_content_type"/>
			</scriptCompletionProposalComputer>
	</extension>
	 <extension point="org.eclipse.ui.editors.templates">
       <contextType
          class="kr.simula.formula.ide.completion.templates.FormulaUniversalTemplateContextType"
          id="formulaUniversalTemplateContextType"
          name="Formula Template content">
       </contextType>
       <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
       </include>
    </extension>
    
    <extension
	       point="org.eclipse.ui.preferencePages">
	         <page
                category="kr.simula.formula.ide.ui.prefs.FormulaPreferencePage"
                class="kr.simula.formula.ide.ui.prefs.FormulaCodeTemplatesPreferencePage"
                id="kr.simula.formula.ide.ui.editor.Templates"
                name="Formula Templates"/>
	         <page
	              class="kr.simula.formula.ide.ui.prefs.FormulaPreferencePage"
	              id="kr.simula.formula.ide.ui.prefs.FormulaPreferencePage"
	              name="Formula"/>
	</extension>
	
	
	 <extension point="org.eclipse.dltk.ui.language">
	      <language
	            class="kr.simula.formula.ide.ui.FormulaUILanguageToolkit2"
	            nature="kr.simula.formula.ide.core.FormulaNature"
	            priority="1">
	      </language>
	   </extension>
</plugin>
